
 [#if VIEW_MODE="search_yandex_tts" || VIEW_MODE=""#]

[#if OK#]
   <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]

 
<!-- table zwave_devices search -->
<div id='api_settings'>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"> Yandex API key: (*) </label>
 <div class="col-lg-6"><input type="text" class="form-control" name="access_key" value="[#ACCESS_KEY#]" class="input"></div>
</div>

<div class="form-group">
 <label class="control-label"> Выберите голос: </label>
 <div class="col-lg-6">
<select class="form-control" name="speaker">

   </select>


</div>
</div>


<div class="form-group">
 <label class="control-label">Эмоциональная окраска голоса: </label>
 <div class="col-lg-6">
<select class="form-control" name="emotion">
    <option value="good" [#if EMOTION=="good"#] selected[#endif#]>радостный, доброжелательный</option>
    <option value="evil" [#if EMOTION=="evil"#] selected[#endif#]>раздраженный</option>
    <option value="neutral" [#if EMOTION=="neutral"#] selected[#endif#]>нейтральный</option>
   </select>
</div>
</div>


<div class="form-group">
 <label class="control-label"> <#LANG_VALUE#>: (*) </label>
 <div class="col-lg-6">
 <input type="radio" name="disabled" value="0"[#if DISABLED!="1"#] checked[#endif#]><#LANG_ON#>
 <input type="radio" name="disabled" value="1"[#if DISABLED=="1"#] checked[#endif#]><#LANG_OFF#>
 </div>
</div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
<div class="pull-left"><a href="?clean=1" class="btn btn-default">Clear cache</a></div>
</div>
 [#endif VIEW_MODE#]
