<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		Модуль взаимодействия с сервисом https://notify.events
			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Начало работы</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>
1. Регистрируемся или авторизовываемся на https://notify.events.</br> </br>
2. Переходим в раздел "Каналы".</br> </br>
3. Вводим имя канала (например, "Majordomo") и нажимаем "Добавить".</br> </br>
4. Нажимаем "Добавить источник" и выбираем "API".</br> </br>
5. Запоминаем предложенный URL и нажимаем "Сохранить" и сохраняем параметр в настройках модуля notifyevents. </br> </br>
6. Нажимаем "Подписаться".</br> </br>
7. Выбираем нужный мессенджер и следуем инструкциям.</br> </br>
		</div> </div> </div>


		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p><b>
<a href="https://github.com/directman66/majordomo-notifyevents" target="_blank">Ссылка на репозиторий</a><br>
<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5554" target="_blank">Тема на форуме</a>.<br></b></br>
<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=23&t=5437" target="_blank">За идею и предоставленный код спасибо пользователю bartwell</a>.<br></b></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

